.changeFont {
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
    font-family: 'Nunito', sans-serif;
}

.darkTheme {
    color: rgb(185, 203, 217);
    background-color: rgb(29, 31, 32);
}

.darkBackground {
    background-color: rgb(29, 31, 32);
    height: 100vh;
}

.dark {
    color: rgb(185, 203, 217);
    background-color: rgb(29, 31, 32);
}
.brandFont {
@import url('https://fonts.googleapis.com/css?family=Ramabhadra&display=swap');
    font-family: 'Ramabhadra', sans-serif;
}